/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;700;900&family=Outfit:wght@300;400;700&display=swap');
@import "tailwindcss";

:root {
  --color-sakura-pink: #ffebef;
  --color-sakura-deep: #ffb7c5;
  --color-cyber-purple: #2d1b4e;
  --color-text-main: #2d1b4e;
}

body {
  font-family: 'Outfit', 'Noto Sans JP', sans-serif;
  background-color: var(--color-sakura-pink);
  color: var(--color-text-main);
}

